<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>User Directory</title>
  <link rel="stylesheet" href="/master.css">
</head>

<body>
  <a href="/">Home</a>

  {{#users}}
    <div class="user">
      <img src= {{avatar}} class='userpic'>
      <h1>{{name}}</h1>
      <h2>{{#address.city}}{{address.city}}, {{/address.city}}<a href = "/country/{{address.country}}">{{address.country}}</a> | {{#job}}{{job}}, {{company}}{{/job}}{{^job}}available for hire{{/job}}</h2>
      <h2>{{email}} | {{phone}}</h2>
      {{#university}}
        <h2>Education</h2>
        <p>{{university}}</p>
      {{/university}}
      <h2>Skills</h2>
      {{#skills}}
        {{.}}
      {{/skills}}
    </div>
  {{/users}}
  </div>
</body>

</html>
